body {
    background: url(https://s3.us-west-2.amazonaws.com/secure.notion-static.com/63c9117c-ba01-40a2-9652-4fe0a63cfe43/9ee244fe9a0e43d0c08d19259205-1434847.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAT73L2G45O3KS52Y5%2F20200719%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20200719T124717Z&X-Amz-Expires=86400&X-Amz-Signature=aec7fe10e525293b81b8a424f2c14adfdf5563b7ef5c49643ada7e7ec3e616c9&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%229ee244fe9a0e43d0c08d19259205-1434847.jpg%22);
    background-size: cover;
    background-position: center; 
}

body,
html {
    width: 100%;
    height: 100%;
    font-family: "Lato";
    color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}


.content{
	padding-top: 25%;
	text-align: center;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
