html, body {
  height: 100%;
  width: 100%;
}


.sp-loading {
  text-align: center;
  max-width: 270px;
  padding: 15px;
  border: 5px solid #eee;
  border-radius: 3px;
  font-size: 12px;
  color: #888;
}

.sp-wrap {
  display: none;
  line-height: 0;
  font-size: 0;
  background: #eee;
  border: 5px solid #eee;
  border-radius: 3px;
  position: relative;
  margin: 0 25px 15px 0;
  float: left;
  max-width: 300px;
}

.sp-thumbs {
  text-align: left;
  display: inline-block;
}

.sp-thumbs img {
  min-height: 50px;
  min-width: 50px;
  max-width: 50px;
}

.sp-thumbs a:link, .sp-thumbs a:visited {
  width: 50px;
  height: 50px;
  overflow: hidden;
  opacity: .3;
  display: inline-block;
  background-size: cover;
  background-position: center;
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -ms-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.sp-thumbs a:hover {
  opacity: 1;
}

.sp-thumbs a:active, .sp-current {
  opacity: 1!important;
  position: relative;
}

.sp-large {
  position: relative;
  overflow: hidden;
  top: 0;
  left: 0;
}

.sp-large a img {
  max-width: 100%;
  height: auto;
}

.sp-large a {
  display: block;
}

.sp-zoom {
  position: absolute;
  left: -50%;
  top: -50%;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
  display: none;
}

.sp-lightbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgb(0,0,0);
  background: rgba(0, 0, 0, .9);
  z-index: 1031;
  display: none;
  cursor: pointer;
}

.sp-lightbox img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 90%;
  max-height: 90%;
  border: 2px solid #fff;
}

#sp-prev, #sp-next {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  z-index: 501;
  color: #fff;
  padding: 14px;
  text-decoration: none;
  background: #000;
  border-radius: 25px;
  border: 2px solid #fff;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: .2s;
}

#sp-prev {
  left: 10px;
}

#sp-prev:before {
  content: '';
  border: 7px solid transparent;
  border-right: 15px solid #fff;
  position: absolute;
  top: 16px;
  left: 7px;
}

#sp-next {
  right: 10px;
}

#sp-next:before {
  content: '';
  border: 7px solid transparent;
  border-left: 15px solid white;
  position: absolute;
  top: 16px;
  left: 18px;
}

#sp-prev:hover, #sp-next:hover {
  background: #444;
}

@media screen and (max-width: 400px) {
  .sp-wrap {
    margin: 0 0 15px 0;
  }
}

@media screen and (max-width: 400px) {
  #sp-prev, #sp-next {
    top: auto;
    margin-top: 0;
    bottom: 25px;
  }
}

.btn.btn-outline-light.btn-lg {
}

/* container fluid */

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}



/*main dashboard*/
#dashboard .row .main-content {
  width: calc(100% - 270px);
  margin-left: 270px;
  background: #fff;
}

@media (min-width: 1024px) {
  #dashboard .row {
    display: flex;
    flex: wrap;
  }
}

#dashboard .row {
  margin-left: -15px;
  margin-right: -15px;
}


/* top-bar main */
@media (min-width: 1024px) {

.topbar {
  left: 270px;
  }
}

.topbar {
  border-bottom: 1px solid #e5eafa;
  top: 0;
  background: #fff;
  z-index: 100;
  width: 100%;
}

.topbar .left-topbar-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 11px;
  padding-right: 11px;
  height: 100px;
}

@media (min-width: 1024px){
.topbar .left-topbar-wrapper .left-topbar {
  position: relative;
  display: inherit;
  width: inherit;
  height: inherit;
  }
}

.topbar .left-topbar-wrapper .left-topbar {
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  z-index: 150;
}

.topbar-left-label {
  position: relative!important;
}

.left-topbar .topbar-date .topbar-date-label {
  border-radius: 3px;
}
/* button */

.right-topbar .right-topbar-wrapper {
  top: 0;
  right: 0;
  align-items: center;
  padding-right: 11px;
}
.right-topbar-wrapper {
  margin-top: 0px;
}


@media (min-width: 1024px) {
.topbar .right-topbar .btn-new-habit {
  padding: 7px 16px;
  border-radius: 3px;
  width: auto;
  height: auto;
  }
}

.topbar .right-topbar .btn-new-habit {
  background: #5179fd;
  color: #fff;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;

}

/* (main) habitlist */

.main-content .main-content-mid {
  padding: 5px 0;
  height: 80%;
}

.habit-list .habit-list-of-today {
  list-style: none;
  padding: 0;
  margin: 0;
}


#habits .habit-list-of-today .habit-items li {
  border-radius: 3px 3px 0 0;
}

#habits .habit-list-of-today .habit-items li {
  background: #fff;
  min-height: 64px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  border-bottom: 1px solid rgba(233,237,244,.5);
}

#habits .habit-list-of-today .habit-items a {
  padding: 5px 15px 5px 0;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: 100%;
  position: relative;
}

a {
  color: #3490dc;
  background-color: transparent;
}

#habits .habit-list-of-today .habit-items a .area {
  padding-left: 19px;
  height: 100%;
}
#habits .habit-list-of-today .habit-items a .habit-holder-default {
  border: 2px solid #e5eafa;
  background: #fff;
}
#habits .habit-list-of-today .habit-items a .habit-holder-default {
  margin-right: 13px;
  width: 28px;
  height: 28px;
  border-radius: 1000px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 28px;
}

/*sidebar*/

#dashboard .sidebar {
  max-width: 14rem !important;
  width: 100%;
  min-height: 100vh;
  background-color: #455dc7;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#dashboard .sidebar .logo {
  font-size: 1.6rem;
}

#dashboard .sidebar .nav-link:hover, .sidebar .nav-link.active {
  background-color: #5b72d6;
  opacity: 1;
}

#dashboard .sidebar .nav-link span {
  font-size: 1rem;
}

#dashboard .sidebar .dropdown-toggle:after {
  display: none;
}

#dashboard .sidebar .dropdown-menu {
  position: relative !important;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  transform: unset !important;
  top: unset !important;
  left: unset !important;
  min-width: unset !important;
  background-color: #3a51b5;
  border-radius: 0 !important;
}

#dashboard .sidebar .dropdown-item {
  padding: 0.8rem 0 0.8rem 1.5rem;
  margin: 0;
}

#dashboard .sidebar .dropdown-item:hover, .sidebar .dropdown-item:active, .dropdown-item:focus {
  background-color: #6177d9;
}

#dashboard .sidebar .nav-link {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
  font-size: 1rem;
  position: relative;
  opacity: 0.9;
}

#dashboard .sidebar .fas.fa-caret-down.float-none.float-lg-right.fa-sm {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
}

#dashboard .sidebar.collapsed .nav-item:not(.logo-holder) {
  display: none !important;
}

@media (max-width: 991px) {
#dashboard .sidebar.mobile-hid .nav-item {
    display: none !important;
  }
}

#dashboard .sidebar.collapsed #sidebarToggleHolder {
  position: absolute !important;
  color: #858791 !important;
  left: 0;
  top: 0;
  padding: 10px;
  z-index: 999;
}

@media (max-width: 991px) {
#dashboard .sidebar.mobile-hid #sidebarToggleHolder {
    position: absolute !important;
    color: #858791 !important;
    left: 0;
    top: 0;
    margin: 10px;
    z-index: 999;
  }
}

#dashboard .sidebar.collapsed .logo #title {
  display: none;
}

@media (max-width: 991px) {
#dashboard .sidebar.mobile-hid .logo #title {
    display: none;
  }
}

#dashboard .sidebar.collapsed #sidebarToggleHolder {
  float: none !important;
}

@media (max-width: 991px) {
#dashboard .sidebar.mobile-hid #sidebarToggleHolder {
    float: none !important;
  }
}

#dashboard .sidebar.collapsed {
  width: 0 !important;
}

@media (max-width: 991px) {
#dashboard .sidebar.mobile-hid {
    width: 0 !important;
  }
}

#dashboard .sidebar #sidebarToggleHolder {
  font-size: 20px !important;
  margin: 7px 5px;
}
